* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

.content {
    padding: 1rem;
}

.content h1 {
    margin: 0;
}

ol.pokemons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    list-style: none;
    padding: 0;
    margin: 0;
}

ol.pokemons li {
    margin: 0.5rem;
    padding: 2REM 1rem;
    /* height: 100px; */
    border-radius: 1REM;
    background-color: #14A06F;
    color: aliceblue;
}

ol.pokemons li {
    display: flex;
    flex-direction: column;
}

ol.pokemons li img {
    max-width: 100%;
    max-height: 100px;
    align-self: flex-end;
}



